
body {
  font-family: 'Arial', sans-serif;
  background-color: #fdf7f6;
  color: #333;
  padding: 20px;
}
h1, h2 {
  text-align: center;
  color: #d17e90;
}
textarea, select, input {
  font-size: 1em;
}
